h1{
    font-size: 68px;
    color: rgba(0, 0, 0, 0.77);
    margin-top: 20%;
    
    
}
.green{
    color: rgba(39, 104, 136, 0.745);
}
.border{
    border-left: 5px solid rgb(255, 170, 0);
    
    padding-left:15px ;
    border-radius: 5px ;
    
 
    
}
p{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.625);
    padding-right: 90px;
    
}
section{
    display: flex;
    padding-left: 10%;
}

.first img{
    width: 68%;
    padding-left: 10%;
    
}
.width{
    width: 50%;
}
.link-button{
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(14, 103, 92);
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 7px;
}
#bottom-word{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
#center{
    text-align: center;
    margin: 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.adjust img{
    margin-top: 10px;
    padding-top: 15px;
    width: 30%;


}
.vission{
    margin-top: 50px;
    background-color: rgba(104, 167, 147, 0.271);
    padding-left: 21px;
    padding-right: 20px;
    border-radius: 20px;
    
    

}
.mission{
    margin-top: 50px;
    background-color: rgba(205, 52, 52, 0.134);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 40px;
    
}
.goals{
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 40px;
    background-color: rgba(96, 33, 109, 0.271);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    
}
.font{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}
.font-size{
    font-size: 18px;
    padding-right:10px;
    padding-left: 3px;
}
.third img{
    width: 70%;
    margin-top: 120px;
    
    
}
.dev{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.div{
    color: rgb(102, 141, 128);
}
.limit{
    margin-top: 0px;
    font-size: 40px;
    
}
.global{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(57, 104, 140);
}
#corona{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 80px;

}
.app{
    color: rgba(85, 75, 168, 0.799);
}


.last{
    width: 70%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin-top: 50px;
    
}
.stay{
    margin-right: 200px;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    text-align: center;
}
.web{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgba(134, 94, 20, 0.575);
    padding-top: 50px ;

}
.close{
    padding-top: 50px;
    color: rgb(17, 105, 102);
}
footer p{
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    padding: 20px 40px 40px 40px;

}
.done{
    background-color: black;
    
}