h1{
    font-size: 65px;
    color: rgba(0, 0, 0, 0.77);
}
.green{
    color: rgb(102, 141, 128);
}
.border{
    border-left: 5px solid rgb(255, 170, 0);
    
    padding-left:15px ;
 
    
}
p{
    font-size: 20px;
}
section{
    display: flex;
}

.first img{
    width: 35%;
}